.header {
  nav {
    padding: 1.0625rem 1.5rem;
  }

  h1 {
    color: $lemonYellow;
  }

  &__logo {
    img {
      height: 50px;
      width: 50px;
    }
  }

  &__cta {
    font-size: $font-sm;
    color: $white;
    transition: opacity 300ms ease-in-out;

    &:hover {
      opacity: 0.75;
    }
  }
}
