// Main Colors

$lightPink: #F562A3;
$darkPink: #FC3F94;
$lemonYellow: #FCEB58;
$lightBlue: #11CEF0;
$darkerBlue: #148EA3;
$white: #FFF;

// Font sizes - divide px by 16 to get rems
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.375rem; // 22px