* {
    border: box-model;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    background: url("../images/puppy.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    color:rgb(18, 135, 245);
    background-color: aliceblue;
    margin: 0 auto;
    }


.display-3 {
    font-size: 48px;
    color:black;
}

.lead {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.jumbotron, .container {
   background: transparent;

}

.card-body {
    background: transparent;
}

.caveat {
    color: rgb(243, 9, 48);
    
}

.start {
    color: #fff;
    background-color: orange;
    text-align: center;
}

.guesses {
    margin-top: 20px;
}


#spaces {
    font-size: 48px;
    line-height: 2em;
    text-align: center;
    }

.wins, .losses, .remaining {
    text-align: center; 
}



